.container {
  font-family: Palatino, serif;
}

h1 {
  font-size: 4.2rem;
}

.row {
  text-align: center;
  height: 4.2rem;
  margin: 0;
  padding: 0;
}

.row-future h1 {
  margin: 1em 0 0.3em 0;
  line-height: 1;
}
.row-past h1 {
  margin: 1em 0 0.3em 0;
  line-height: 1;
}

.row .row-title {
  display: inline-block;
  position: relative;
  top: -1.8em;
  width: 10em;
  margin-left: -11em;
  padding-right: 1em;
  text-align: right;
  line-height: 1;
}

.cells {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.cell {
  display: inline-block;
  margin: 0;

  width: 4.2rem;
  height: 4.2rem;
  padding: 0.2rem;

  position: relative;
}

.cell.cell-event {
  background: url('img/spine.png') center repeat-y;
}

.cell.cell-unknown {
  background: url('img/spine-unknown.png') center repeat-y;
}

.cell .cell-label {
  line-height: 1;
  width: 100%;
  height: 100%;
}

.cell.cell-unknown .cell-label {
  opacity: 0.4;
}
.cell.cell-empty .cell-label {
  visibility: hidden;
}

.cell.cell-title {
  height: 3.8em;
}
.cell.cell-title .cell-label {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  height: auto;
}
