.container {
  width: 20em;
  margin: 2em auto 2em auto;
}

.timeline {
  width: 100;
}

.cell {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin: 0.2em;
  background: white;
  outline: 1px solid black;
}

.cell-history { outline: 1px solid black; }
.cell-prediction { outline: 1px dashed gray; }

.cellrow {
  display: inline-block;
}

.frame-context .cellrow {
  background: #CCC;
}

.channel-control {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.2em;
}
.channel-control img {
  margin: 0 auto 0 auto;
}

.frame-label {
  display: inline-block;
  width: 3em;
  margin-left: -4em;
  padding-right: 1em;
  text-align: right;
  color: darkgray;
}

.apriori {
  margin-top: 1em;
}
