.container {
  width: 11em;
  margin: 2em auto 2em auto;
}

.timeline {
  width: 100;
}

.cell {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  margin: 0.2em;
  background: white;
  border: 1px solid black;
}

.cell-on {
  background: black;
}
