.container {
  width: 11em;
  margin: 2em auto 2em auto;
}

.timeline {
  width: 100;
}

.cell {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  background: white;
  border: 1px solid black;
}

.cell-on {
  background: black;
}
